<!DOCTYPE html>
<html>
  <head>

    <!-- CSS Style Sheets -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/user.css" rel="stylesheet">
    <link href="/stylesheets/App.css" rel="stylesheet"/>

    <!-- JavaScript Libraries -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/superfish/hoverIntent.js"></script>
    <script src="/lib/superfish/superfish.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/user.js"></script>

    <title><%= title %></title>

  </head>
  <body onload='USR.setDataObj(<%- JSON.stringify(data) %>)'>

    <header id="header">
      <div class="container">

        <div id="logo" class="pull-left">
          <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li><a href="/user">Profile</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="user-section">
      <div class="user-container">
        <hr>
        <br/>

        <!-- Show user or admin content based on username -->
        <% if (data.profileInfo.username === "admin") { %>
        <!-- Admin Dashboard -->

        <div id="adminContainer">
          <div id="adminLeftDiv">
            <p>List of permit applications (click to view details, change status, or add/edit comments):</p>
            <table id="adminSummaryTable" class="appTable">
              <thead>
                <tr>
                  <th class="adminTblColId">ID</th>
                  <th class="adminTblColUser">User</th>
                  <th class="adminTblColDate">Date</th>
                  <th class="adminTblColPrediction">Prediction</th>
                  <th class="adminTblColStatus">Status</th>
                  <th class="adminTblColComment">Comment</th>
                </tr>
              </thead>
              <tbody id="adminTblBody"/>
            </table>
          </div>
          <!-- <div id="adminCenterDiv"></div> -->
          <div id="adminRightDiv"></div>
        </div>

        <% } else { %>
        <!-- Regular User -->

        <!-- Button for Testing a New Application -->
        <span style="margin-right:10px;">Welcome, <%= data.profileInfo.username %>. Need to test a new permit application for approval?
        </span>
        <a href="/form" class="btn-get-started">Get Started</a>
        <br/>
        <br/>
        <hr>
        <br/>

        <!-- Application List Table-->
        <p>Current list of previously tested permit applications (click to view details):
        </p>
        <table id="applicationSummaryTable" class="appTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Prediction</th>
              <th>Status</th>
              <th>Admin Comments</th>
            </tr>
          </thead>

          <tbody>
            <% data.applicationList.forEach(function(appSummary) { %>
              <tr class="trSelectable clickable-row">
                <td><%= appSummary._id %></td>
                <td><%= appSummary.date %></td>
                <td><%= appSummary.prediction_result %></td>
                <td><%= appSummary.status %></td>
                <td><%= appSummary.comment %></td>
              </tr>

            <% }); %>
          </tbody>
        </table>

        <% } %>

      </div>
    </section>

  <main id="main">
    
  </body>
</html>













